@namespace ExampleProject.Api.Components.Shared
<div class="cards">
    <div class="card card--success">
        <span class="card__dot"></span>
        <div class="card__content">
            <span class="card__label">App</span>
            <span class="card__value">Running</span>
        </div>
    </div>
    <div class="card card--muted">
        <span class="card__dot"></span>
        <div class="card__content">
            <span class="card__label">API</span>
            <a href="/api" target="_blank" rel="noopener" class="card__link">/api</a>
        </div>
    </div>
</div>
