@namespace ExampleProject.Api.Components.Shared
<ul class="task-list">
    @foreach (var task in Tasks)
    {
        <li class="task-item">
            <span class="task-item__title">@task.Title</span>
            <span class="task-item__desc">@task.Description</span>
        </li>
    }
</ul>

@code {
    [Parameter, EditorRequired]
    public IReadOnlyList<ExampleTaskItem> Tasks { get; set; } = Array.Empty<ExampleTaskItem>();
}
